<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.geometrycalculator">

    <!-- Декларація дозволів, якщо вони потрібні -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GeometryCalculator"
        android:configChanges="orientation|screenSize">

        <!-- Головна активність додатку -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GeometryCalculator"
            android:exported="true">

            <!-- Вказуємо, що це головна активність, і вона запускається при запуску додатку -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
